/*layout for about and contact page */
.about
{
    text-align: center;
    margin-left: 20%;
    background-color:lavender ;
    padding: 30px;
    width: 50%;
    border-radius: 5%;
    margin-top: 10%;
    margin-bottom: 20%;
}
