.order
{
    display: flex;
    flex-direction: row;
    
}
.inputbutton
{
   
    width:15px;
   
}
.infoaboutcake
{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-left: 20px;
    margin-right: 20px;
}