/*Layout for product page */
.products
{
    margin-left:20px;
}
/*small devices, everything will be displayed in one columnt and centered */
@media (max-width: 600px)
{
    .cakes
    {
        display: flex;
        flex-direction: column;
    }
    .cake
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        max-width: 100%;
    }
    .cakedisplay
    {
    
        display: flex;
        flex-wrap: wrap;
    }
}
/*Normal to lagre devices, three cards on each row */
@media (min-width: 601px)
{
    .cakes
    {
        display: flex;
        flex-direction: column;
    }
    .cake
    {
        display: flex;
        flex-direction: row;
        padding: 10px;
        max-width: 30%;
    } 
    .cakedisplay
    {
        display: flex;
        flex-wrap: wrap;
    }
}
