/*Layout for right side of start page*/
.info
{
    text-align: center;
    justify-content: center;
    margin: 50px;
}
.info >img
{
  max-width: 30%;
}

.infotext
{
  background-color: rgba(230,230,250,0.6);
  border-radius: 5%;
  margin-top:60px;
  margin-bottom: 60px;
  padding: 5px;
  margin-left: 40px;
  margin-right:40px;
 
  text-align: center;
}
.buttonlink
{
  border-radius: 10%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lavender;
  border-color: rgb(210, 210, 219);
}